* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}


.container {
  width: 420px;
  min-height: 420px;
  border-radius: 10px;
  overflow: hidden;
  color: whitesmoke;
  background-image: linear-gradient(rgb(2, 8, 66), rgb(97, 107, 132));
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

  
  .container .slider {
    width: 200%;
    transition: transform 0.4s ease-in-out;
    display: flex;
  }
  
  .container #register_toggle:checked + .slider {
    transform: translateX(-50%);
  }

  
  
 .form {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

  
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 2.2em;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: whitesmoke;
  }
  
  form .form_control {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  form .form_control .label {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: transform ease 0.2s;
    transform: translate(0%, -50%);
    font-size: 0.95em;
    user-select: none;
    pointer-events: none;
    color: whitesmoke;
  }
  
  form .form_control .input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 0.85rem;
    border-radius: 5px;
    transition: box-shadow ease 0.2s;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  form .form_control .input:focus {
  box-shadow:
    inset 3px 3px 4px #0e0e0e,
    inset -3px -3px 4px #5f5e5e,
    0 0 0 1px rgba(255,255,255,0.15);
}

  
  form .form_control .input:focus,
  form .form_control .input:valid {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
  }
  
  form .form_control .input:focus + .label,
  form .form_control .input:valid + .label {
    transform: translate(-150%, -50%);
  }
  
  form button {
    width: 100%;
    background-color: #000000;
    border: none;
    outline: none;
    color: whitesmoke;;
    padding: 0.5rem;
    font-size: 0.98rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  }
  form button:hover {
    background-color: whitesmoke;
    color: #090d35;
    transform: translateY(-1px);

  }
  
  form button:active {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
  }
  
  .bottom_text {
    font-size: 0.75em;
    gap: 0px;
  }
  p{
      font-size: 0.75em; 
      text-align: center;
  }
  p, a{
      text-decoration: none;
      color: white
  }
  .bottom_text .swtich {
    font-weight: 700;
    cursor: pointer;
  }
  @media (max-width: 480px) {
  .container {
    width: 95%;
  }

  .title {
    font-size: 1.8em;
  }
}
